#right {
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.014);
    // background: linear-gradient(113deg, rgba(53, 53, 53, 0.04) 0%, rgba(255, 255, 255, 0.40) 27.29%, rgba(32, 32, 32, 0.04) 100.01%);
    // mix-blend-mode: darken;
    backdrop-filter: blur(40px);
    overflow-y: scroll;
    box-shadow:
        // inset -2px -2px 7px #ffffff,
        inset 2px 2px 15px rgb(0, 0, 0, 0.05),
        // -2px -2px 7px #ffffff,
        inset 2px 2px 15px rgb(0, 0, 0, 0.05);
    height: 100%;
    width: 100%;

    


    .sections {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
        margin: 24px;
        margin-bottom: 0;
        align-items: center;

        h3 {
            display: inline;
            color: #FFF;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        h2 {
            color: #FFF;
            font-family: Inter;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            display: inline;
        }

        .sectionItems {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 16px;
        }

        &.first {
            .sectionItems {
                display: flex;
                justify-content: space-between;
            }
        }

        &.second {
            .sectionItems {
                grid-template-columns: repeat(5, auto);
            }
        }

        &.third {
            .sectionItems {
                display: flex;
                gap: 16px;
                flex-wrap: nowrap;
                overflow-x: hidden;
            }
        }
    }
}






// songBox
